<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses - Student Study Planner</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <header>
        <h1>Student Study Planner</h1>
        <p>Manage your courses and stay organized.</p>
    </header>

    <nav>
        <a href="/">Dashboard</a>
        <a href="/courses">Courses</a>
        <a href="/assignments">Assignments</a>
        <a href="/tasks">Tasks</a>
        <a href="/notes">Notes</a>
    </nav>

    <main>

        <section>
            <h2>My Courses</h2>
            <p>View and manage your current courses.</p>

            <form th:action="@{/courses}" th:object="${newCourse}" method="post">
                <h3>Add a Course</h3>

                <label for="name">Course Name</label>
                <input type="text" id="name" name="name" placeholder="Example: Cloud Computing">

                <label for="code">Course Code</label>
                <input type="text" id="code" name="code" placeholder="Example: CST-323">

                <label for="instructor">Instructor</label>
                <input type="text" id="instructor" name="instructor" placeholder="Enter instructor name">
				
				<input type="hidden" th:value="${newCourse.userId}" name="userId">

                <button type="submit">Add Course</button>
            </form>
        </section>

        <section>
            <h2 th:if="${courses.empty}">No Courses available</h2>
            <h2 th:if="${not #lists.isEmpty(courses)}">Course List</h2>

            <div th:each="course : ${courses}">
                <h3 th:text="${course.name}">Example Course</h3>
                <p><strong>Course Code: </strong><span th:text="${course.code}">CST-323</span></p>
                <p><strong>Instructor: </strong><span th:text="${course.instructor}">Example Instructor</span></p>

                <form th:action="@{/courses/update}" method="post">
                    <input type="hidden" name="id" th:value="${course.id}">

                    <label>Course Name</label>
                    <input type="text" name="name" th:value="${course.name}">

                    <label>Course Code</label>
                    <input type="text" name="code" th:value="${course.code}">

                    <label>Instructor</label>
                    <input type="text" name="instructor" th:value="${course.instructor}">
					
					<input type="hidden" name="userId" th:value="${course.userId}">

                    <button type="submit">Edit Course</button>
                </form>

                <form th:action="@{/courses/delete}" method="post">
                    <input type="hidden" name="id" th:value="${course.id}">
                    <button type="submit">Delete Course</button>
                </form>
            </div>

        </section>

    </main>

</body>
</html>

