<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Study Planner</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header>
        <h1>Student Study Planner</h1>
        <p>Stay organized and keep track of your academic responsibilities.</p>
    </header>

    <nav>
        <a href="/">Dashboard</a>
        <a href="/courses">Courses</a>
        <a href="/assignments">Assignments</a>
        <a href="/tasks">Tasks</a>
        <a href="/notes">Notes</a>
    </nav>

    <main>

        <section>
            <h2>Welcome Back!</h2>
            <p>Here is an overview of your academic responsibilities.</p>
        </section>

        <section>
            <h2>My Courses</h2>
            <button type="button">+ Add Course</button>

            <div>
                <h3>My Courses</h3>
                <p th:if="${courses.empty}">Your courses will appear here.</p>
				<p th:each="course : ${courses}" th:text="${course.name}">Example Course</p>
            </div>
        </section>

        <section>
            <h2>Upcoming Assignments</h2>
            <button type="button">+ Add Assignment</button>

            <div>
                <h3>Upcoming Assignments</h3>
                <p th:if="${assignments.empty}">Your upcoming assignments will appear here.</p>
				<p th:each="assignment : ${assignments}" th:text="${assignment.name}">Example Course</p>
			</div>
        </section>

        <section>
            <h2>Study Tasks</h2>
            <button type="button">+ Add Task</button>

            <div>
                <h3>My Study Tasks</h3>
                <p th:if="${tasks.empty}">Your study tasks will appear here.</p>
				<p th:each="task : ${tasks}" th:text="${task.name}">Example Course</p>
            </div>
        </section>

        <section>
            <h2>Notes</h2>
            <button type="button">+ Add Note</button>

            <div>
                <h3>My Notes</h3>
                <p th:if="${notes.empty}">Your study notes will appear here.</p>
				<p th:each="note : ${notes}" th:text="${note.title}">Example Course</p>
            </div>
        </section>

    </main>

</body>
</html>